<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"

    xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
        http://mybatis.org/schema/mybatis-spring 
		http://mybatis.org/schema/mybatis-spring-1.2.xsd">
		
		
        
        <!-- 指定 mybatis 持久化接口以及配置文件所在位置
             spring就会帮我们管理这些bean
          -->
       <mybatis:scan base-package="com.xp.ssm.mapper"/>
       
       
        <!-- 使用  后处理加载数据源参数 -->
                
       <context:property-override location="classpath:db.properties"></context:property-override>
              
       
       <!-- 
         @Controller、@Service  事务
        -->
       <context:component-scan base-package="com.xp">
       		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>  
       </context:component-scan>
       
       <!-- 配置数据源 -->
       <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"></bean>
    
    
  	 	<!-- 工厂bean，返回SqlSessionFactory -->
  		<!-- 配置SqlSessionFactory，org.mybatis.spring.SqlSessionFactoryBean是Mybatis社区开发用于整合Spring的bean-->
		<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"
	    p:dataSource-ref="dataSource"/>
	
		
	    
        <!-- 配置事务管理器 -->
       <bean id="transactionManager"
       class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
       p:dataSource-ref="dataSource"></bean>
    
      
      <!-- 启用注解事务管理 -->  	
  	  <tx:annotation-driven transaction-manager="transactionManager"/>
  	
  	
</beans>